form {
	font-family: var(--font-family);
	margin: 0 0 20px;
	width: 100%;
}

fieldset {
	appearance: none;
	border: solid 1px var(--divider-color);
	border-radius: var(--border-radius);
	min-width: 0;
	padding: 20px;
	width: 100%;
}

label,
legend {
	font-size: ms(1)rem;
	font-weight: bold;
	margin: 0;
}

input {
	appearance: none;
	background: #fff;
	border-radius: var(--border-radius);
	border: solid 1px var(--divider-color);
	font-size: ms(1)rem;
	font-weight: normal;
	padding: 8px;
	transition: all .1s ease-in-out;
	width: 100%;
}

input:focus {
	border-color: var(--divider-darken-color);
}

input[type="number"] {
	appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

button,
input[type="button"],
input[type="submit"] {
	background: var(--primary-color);
	border: none;
	border-radius: var(--border-radius);
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 8px 20px;
	text-align: center;
	width: auto;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: var(--type-primary-color);
}

textarea {
	background: #fff;
	border-radius: var(--border-radius);
	border: solid 1px var(--divider-color);
	font-size: ms(1)rem;
	padding: 8px;
	min-height: 150px;
	resize: none;
	transition: all .1s ease-in-out;
	width: 100%;
}
