* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

*:active,
*:focus,
*:hover {
	outline: none;
}

html,
body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	background: var(--body-primary-color);
	color: var(--type-primary-color);
	font-family: var(--font-family);
	font-size: ms(1)rem;
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	text-size-adjust: none;
}

img {
	height: auto;
	max-width: 100%;
}
