table {
	background: #fff;
	border: solid 1px var(--divider-color);
	border-collapse: collapse;
	font-family: var(--font-family);
	font-size: ms(1)rem;
	line-height: var(--line-height);
	margin: 0;
	width: 100%;
}

caption {
	background: #fff;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
}

thead,
tfoot {
	background: var(--body-secondary-color);
	font-weight: bold;
}

tr {
	border: solid 1px var(--divider-color);

	&:nth-child(even) {
		background: var(--table-row-even-color);
	}

	&:nth-child(odd) {
		background: var(--table-row-odd-color);
	}
}

th,
td {
	padding: 10px 20px;
	text-align: left;
}

td {
	vertical-align: top;
}