h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
	font-weight: bold;
	line-height: var(--line-height);
	margin: 0 0 20px;
}

h1 {
	font-size: ms(5)rem;

	@media (--small) {
		font-size: ms(6)rem;
	}

	@media (--large) {
		font-size: ms(7)rem;
	}
}

h2 {
	font-size: ms(4)rem;

	@media (--medium) {
		font-size: ms(5)rem;
	}

	@media var(--large) {
		font-size: ms(6)rem;
	}
}

h3 {
	font-size: ms(3)rem;

	@media (--medium) {
		font-size: ms(4)rem;
	}

	@media (--large) {
		font-size: ms(5)rem;
	}
}

h4 {
	font-size: ms(2)rem;

	@media (--medium) {
		font-size: ms(3)rem;
	}

	@media (--large) {
		font-size: ms(4)rem;
	}
}

h5 {
	font-size: ms(1)rem;

	@media (--medium) {
		font-size: ms(2)rem;
	}

	@media (--large) {
		font-size: ms(3)rem;
	}
}

h6 {
	font-size: ms(1)rem;

	@media (--medium) {
		font-size: ms(1.5)rem;
	}

	@media (--large) {
		font-size: ms(2.5)rem;
	}
}

p {
	font-family: var(--font-family);
	font-size: ms(1)rem;
	line-height: var(--line-height);
	margin: 0 0 20px;

	&:last-child {
		margin: 0;
	}
}

a {
	color: var(--primary-color);
	cursor: pointer;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: var(--type-primary-color);
}

small {
	font-size: ms(0.8)rem;
}

abbr,
acronym {
	text-transform: uppercase;
}

blockquote {
	background: none;
	border-left: solid 1px var(--divider-color);
	margin: 0 0 20px;
	padding: 10px 20px;

}

cite {
	color: var(--type-secondary-color);
}

cite:before {
	content: "\2014 \0020";
}

code {
	background: var(--body-secondary-color);
	border-radius: var(--border-radius);
	padding: 2px 4px;
}

hr {
	border: none;
	border-bottom: solid 1px var(--divider-color);
	margin: 20px 0;
}

ul,
ol {
	font-family: var(--font-family);
	line-height: var(--line-height);
	margin: 0 0 20px;
	padding: 0 0 0 30px;

	ul,
	ol {
		margin: 10px 0 0;
	}

	li {
		margin: 0 0 10px;
	}
}

dl {
	font-family: var(--font-family);
	line-height: var(--line-height);
	margin: 0 0 20px;
	padding: 0;

	dt {
		font-weight: bold;
		margin: 0 0 10px;
	}

	dd {
		margin: 0 0 10px;

		&:last-child {
			margin: 0;
		}
	}
}
