doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block title
			title Main Layout
		//- CSS will be included here
		css
	body
		block content
		//- JS will be included here
		js