/*TYPE DEFAULTS*/
 
h1, h2, h3, h4, h5, h6 {
	font-family: map(font-family);
	font-weight: bold;
	line-height: map(line-height);
	margin: map(margin);
}

h1 {
	font-size: ms(5)rem;
	
	@media map(medium) { font-size: ms(6)rem; }
	@media map(large) { font-size: ms(7)rem; }
}

h2 {
	font-size: ms(4)rem;
	
	@media map(medium) { font-size: ms(5)rem; }
	@media map(large) { font-size: ms(6)rem; }
}

h3 {
	font-size: ms(3)rem;
	
	@media map(medium) { font-size: ms(4)rem; }
	@media map(large) { font-size: ms(5)rem; }
}

h4 {
	font-size: ms(2)rem;
	
	@media map(medium) { font-size: ms(3)rem; }
	@media map(large) { font-size: ms(4)rem; }
}

h5 {
	font-size: ms(1)rem;
	
	@media map(medium) { font-size: ms(2)rem; }
	@media map(large) { font-size: ms(3)rem; }
}

h6 {
	font-size: ms(1)rem;
	
	@media map(medium) { font-size: ms(1.5)rem; }
	@media map(large) { font-size: ms(2.5)rem; }
}

p {
	font-family: map(font-family);
	font-size: ms(1)rem;
	line-height: map(line-height);
	margin: map(margin);

	&:last-child{
		margin: 0;
	}
}

small { font-size: ms(0.8)rem; }

abbr, 
acronym {
	text-transform: uppercase;
}

blockquote {
	background: none;
	border-left: solid 1px map(divider-color);
	margin: map(margin);
	padding: 10px 20px;

	cite {
		&:before {
			content: "\2014 \0020";
		}
	}
}

cilte {
	color: map(type-secondary-color);
}

code {
	background: map(body-secondary-color);
	border-radius: map(radius);
	padding: 2px 4px;
}

hr {
	border: none;
	border-bottom: solid 1px map(divider-color);
	margin: 20px 0;
}

ul,ol {
	font-family: map(font-family);
	line-height: map(line-height);
	margin: map(margin);
	padding: 0 0 0 30px;

	ul,ol {
		margin: 10px 0 0;
	}

	li {
		margin: 0 0 10px;
	}
}

dl {
	font-family: map(font-family);
	line-height: map(line-height);
	margin: ma(margin);
	padding: 0;

	dt {
		font-weight: bold;
		margin: 0 0 10px;
	}
	dd {
		margin: 0 0 10px;

		&:last-child { margin: 0; }
	}
}