link(href="index/about/about.css")
script(src="index/about/about.js")
section.about
	.row
		.col.s_10.m_6.ofst_s_1.ofst_m_3
			h1 ADM DEV KIT
			p.about--text Component driven static web site starter kit. 