/*TABLE DEFAULTS*/


table {
	background: #fff;
	border: solid 1px $dividerColor;
	border-collapse: collapse;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: $lineHeight;
	margin: 0;
	width: 100%;
}

caption {
	background: #fff;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
}

thead, tfoot {
	background: $bodySecondaryColor;
	font-weight:  bold;
}

tbody tr {
	&:nth-child(even) { background: $tableRowEvenColor; }
	&:nth-child(odd) { background: $tableRowOddColor; }
}

tr {
	border: solid 1px $dividerColor;
}

th,td {
	padding: 10px 20px;
	text-align: left;
}

td {
	vertical-align: top;
}