/*FORM DEFAULTS*/


form {
	font-family: $fontFamily;
	margin: $margin;
	width: 100%;
}

fieldset {
	appearance: none;
	border: solid 1px $dividerColor;
	border-radius: $radius;
	min-width: 0;
	padding: 20px;
	width: 100%;
}

label,
legend {
	font-size: $fontSize;
	font-weight: bold;
	margin: 0;
}

input {
	appearance: none;
	background: #fff;
	border-radius: $radius;
	border: solid 1px $dividerColor;
	font-size: $font-size;
	font-weight: normal;
	padding: 8px;
	transition: all .1s ease-in-out;
	width: 100%;
}

input:focus{
	border-color: $dividerDarkenColor;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

button,
input[type="button"],
input[type="submit"] {
	background: $primaryColor;
	border: none;
	border-radius: $radius;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 8px 20px;
	text-align: center;
	width: auto;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
	background: $typePrimaryColor;
}

textarea {
	background: #fff;
	border-radius: $radius;
	border: solid 1px $dividerColor;
	font-size: $fontSize;
	padding: 8px;
	min-height: 150px;
	resize: none;
	transition: all .1s ease-in-out;
	width: 100%;
}
