/*RESET DEFAULTS*/

:root {
	--ms-bases: 1, 0.6;
	--ms-ratios: 1.414;
}

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	background: $bodyPrimaryColor;
	color: $typePrimaryColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
	text-size-adjust: none;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}

*:before,
*:after {
	box-sizing: inherit;
}

*,
*:active,
*:focus,
*:hover {
	outline: none;
}

img {
	height: auto;
	max-width: 100%;
}
