/*TYPE DEFAULTS*/

h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamily;
	font-weight: bold;
	line-height: $lineHeight;
	margin: $margin;
}

h1 {
	font-size: ms(5)rem;
	
	@media $medium { font-size: ms(6)rem; }
	@media $large { font-size: ms(7)rem; }
}

h2 {
	font-size: ms(4)rem;

	@media $medium { font-size: ms(5)rem; }
	@media $large { font-size: ms(6)rem; }
}

h3 {
	font-size: ms(3)rem;

	@media $medium { font-size: ms(4)rem; }
	@media $large { font-size: ms(5)rem; }
}

h4 {
	font-size: ms(2)rem;

	@media $medium { font-size: ms(3)rem; }
	@media $large { font-size: ms(4)rem; }
}

h5 {
	font-size: ms(1)rem;

	@media $medium { font-size: ms(2)rem; }
	@media $large { font-size: ms(3)rem; }
}

h6 {
	font-size: ms(1)rem;

	@media $medium { font-size: ms(1.5)rem; }
	@media $large { font-size: ms(2.5)rem; }
}

p {
	font-family: $fontFamily;
	font-size: ms(1)rem;
	line-height: $lineHeight;
	margin: $margin;

	&:last-child{
		margin: 0;
	}
}

a {
    color: $primaryColor;
    cursor: pointer;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: $typePrimaryColor;
}

small { font-size: ms(0.8)rem; }

abbr,
acronym {
	text-transform: uppercase;
}

blockquote {
	background: none;
	border-left: solid 1px $dividerColor;
	margin: $margin);
	padding: 10px 20px;

	cite {
		&:before {
			content: "\2014 \0020";
		}
	}
}

cilte {
	color: $typeSecondaryColor;
}

code {
	background: $bodySecondaryColor;
	border-radius: $radius;
	padding: 2px 4px;
}

hr {
	border: none;
	border-bottom: solid 1px $dividerColor;
	margin: 20px 0;
}

ul,ol {
	font-family: $fontFamily;
	line-height: $lineHeight;
	margin: $margin);
	padding: 0 0 0 30px;

	ul,ol {
		margin: 10px 0 0;
	}

	li {
		margin: 0 0 10px;
	}
}

dl {
	font-family: $fontFamily;
	line-height: $lineHeight;
	margin: ma(margin);
	padding: 0;

	dt {
		font-weight: bold;
		margin: 0 0 10px;
	}
	dd {
		margin: 0 0 10px;

		&:last-child { margin: 0; }
	}
}
