:root {
	--ms-bases: 1, .6;
	--ms-ratios: 1.414;
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

*:active,
*:focus,
*:hover {
	outline: none;
}

html,
body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	background: $bodyPrimaryColor;
	color: $typePrimaryColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
	text-size-adjust: none;
}

img {
	height: auto;
	max-width: 100%;
}
