:root {
	--ms-bases: 1, .6;
	--ms-ratios: 1.414;

	--primary-color: #000;
	--secondary-color: #fff;

	--body-primary-color: #fff;
	--body-secondary-color: #e0e0e0;

	--type-primary-color: #000;
	--type-secondary-color: #b3b3b3;
	--type-oposit-color: #fff;

	--divider-color: #d9d9d9;
	--divider-darken-color: #808080;

	--error-color: #ff4f37;
	--warning-color: #ffdd22;
	--success-color: #7dc142;
	--help-color: #b2ebf2;

	--font-family: "Raleway", arial, sans-serif;
	--font-weight: normal;
	--line-height: 1.5;

	--border-radius: 5px;

	--table-row-even-color  : #f6f6f6;
	--table-row-odd-color   : #fff;
}

@custom-media --small (width >= 479px);
@custom-media --small-down (width <= 479px);
@custom-media --small-only (width <= 479px);


@custom-media --medium (width >= 480px);
@custom-media --medium-down (width <= 959px);
@custom-media --medium-only (width >= 960px and width <= 1439px);

@custom-media --large (width >= 960px);
@custom-media --large-down (width <= 1439px);
@custom-media --large-only (max-width: 30em);


@custom-media --xlarge (width >= 1440px);
@custom-media --xlarge-down (width <= 1919px);
@custom-media --xlarge-only (width >= 1440px and width <= 1919px);