extends _layouts/_main.pug

block title
	title ADM DEV KIT

block content
	link(href="_common/_common-css/_reset.css" type="text/css" rel="stylesheet")
	link(href="_common/_common-css/_type.css" type="text/css" rel="stylesheet")
	link(href="_common/_common-css/_form.css" type="text/css" rel="stylesheet")
	link(href="_common/_common-css/_table.css" type="text/css" rel="stylesheet")
	link(href="_common/_common-css/_grid.css" type="text/css" rel="stylesheet")
	link(href="_common/_common-css/_panel.css" type="text/css" rel="stylesheet")
	script(src="__jspm_packages/system.js" type="text/javascript")
	script(src="_jspm-config.js" type="text/javascript")

	img(src='index/image.jpg')
