extends _layouts/_main.pug

block title
	title ADM DEV KIT

block content
	link(href="_common/_common-index.css" type="text/css" rel="stylesheet")
	script(src="__jspm_packages/system.js" type="text/javascript")
	script(src="__config.js" type="text/javascript")
